@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800&display=swap');

:root {
  font-family: 'Work Sans', 'Nunito Sans', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}


body {
  margin: 0;
  display: flex;
  /* place-items: center;
  align-items: center; */
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}
